
.create-assignment-page-title {
    font-size: 25px;
    color: #2E294E;
    margin: 0px;
}

.create-assignment-title-block {
    width: 100%;
    justify-content: space-between;
}

.btn-publish-assignment {
    background-color: #03CEA4;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 0 30px;
    font-size: 20px;
    outline: none;
    border: none;
}

    .btn-publish-assignment:hover {
        background-color: #00C895;
    }

.btn-attach-files {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    font-size: 29px;
    padding: 0;
}

    .btn-attach-files:hover {
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    }

.assignment-title-text-field {
    width: 550px;
    font-size: 29px;
    color: #2E294E;
    outline: none;
    border: none;
}

.assignment-description {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.assignment-description-detail-container {
    height: 60vh;
}

.textarea-assignment-description {
    width: 100%;
    height: 90%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    resize: none;
}

.assignment-details-panel {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.checkbox-make-anonymous {
    -webkit-appearance: none;
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
    outline: none !important;
}

    .checkbox-make-anonymous:checked {
        background: #03CEA4;
        outline: none;
        border: 2px solid #555;
        outline: none !important;
    }

    .checkbox-make-anonymous:focus {
        outline: none;
        border: 2px solid #555;
        outline: none !important;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #03CEA4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
