################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/semester-3-project/DatabaseHildur/DatabaseHildur.dbmdl
