@model WebApplication.Models.UserModels

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Users != null)
{
    if (ViewBag.Users.Count > 0)
    {
        foreach (var user in ViewBag.Users)
        {
            <p>@user.Username</p>
            <p>@user.Password</p>
        }
    }
}

<input type="button" value="Get me some users" onclick="location.href='@Url.Action("GetUsers", "User")'" />

