<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationCore</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Stylesheets", required: false)
</head>

<body>
    <header>
        <div class="container-fluid navbar-fluid">
            <nav class="navbar navbar-expand-xl">
                <div>
                    <a class="nav-so" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="solvr">solvr.</span>
                        <span class="online">online</span>
                    </a>
                </div>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggleDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="/assets/icons/hamburger.svg">
                </button>

                <div class="collapse navbar-collapse" id="navbarToggler">

                    <ul class="nav navigation-list">
                        <li class="navigation-list-item"><a class="nav-dashboard" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                        <li class="navigation-list-item"><a class="nav-assignments" asp-controller="assignment" asp-action="display-assignments">Assignments</a></li>
                        <li class="navigation-list-item"><a class="nav-solved" asp-controller="Home" asp-action="Index">Solved</a></li>
                        <li class="navigation-list-item"><a class="nav-forum" asp-controller="Home" asp-action="Index">Forum</a></li>
                        <li class="navigation-list-item"><a class="nav-faq" asp-controller="Home" asp-action="Index">FAQ</a></li>
                    </ul>

                    <div class="navbar-button-search-block">

                        <div class="navbar-mobile-line">
                            <a href="/assignment/create-assignment" class="btn-post-assignment">
                                <img class="btn-post-assignment-icon" src="/assets/icons/add.svg">
                                Post Assignment
                            </a>
                        </div>

                        <div class="navbar-mobile-line">
                            <form class="form-inline search-bar">
                                <input class="search-input" type="search" placeholder="search" aria-label="search" />
                                <Button class="search-bar-button my-2 my-sm-0" type="submit">Go</Button>
                            </form>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
