@model ModelLayer.Assignment

@{
    ViewData["Title"] = "Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var assignment = ViewBag.Assignment;
    List<Assignment> assignments = ViewBag.Assignments;
}

@section Stylesheets {
    <link href="~/css/display-assignment.css" rel="stylesheet" />
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 screen-1300-invisible">
            </div>
            <div class="col-md-10 screen-1300-full">
                <div class="card-columns">
                    @foreach (var assignment in assignments)
                    {
                        @await Html.PartialAsync("~/Views/Shared/AssignmentCard.cshtml", assignment)
                    }

                </div>
            </div>
            <div class="col-md-1 screen-1300-invisible">
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}