
.create-solution-page-title {
    font-size: 25px;
    color: #2E294E;
    margin: 0px;
}

.create-solution-title-block {
    width: 100%;
    justify-content: space-between;
}

.btn-publish-solution {
    background-color: #03CEA4;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 0 30px;
    font-size: 20px;
    outline: none;
    border: none;
}

    .btn-publish-solution:hover {
        background-color: #00C895;
    }

.btn-attach-files {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    font-size: 29px;
    padding: 0;
}

    .btn-attach-files:hover {
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    }

.assignment-title-text-field {
    width: 550px;
    font-size: 29px;
    color: #2E294E;
    outline: none;
    border: none;
}

.solution-description {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.solution-description-detail-container {
    height: 20vh;
}

.textarea-solution-description {
    width: 100%;
    height: 90%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    resize: none;
}

.textarea-assignment-description {
    width: 100%;
    height: 90%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    resize: none;
}

.assignment-details-panel {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.checkbox-make-anonymous {
    -webkit-appearance: none;
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
    outline: none !important;
}

    .checkbox-make-anonymous:checked {
        background: #03CEA4;
        outline: none;
        border: 2px solid #555;
        outline: none !important;
    }

    .checkbox-make-anonymous:focus {
        outline: none;
        border: 2px solid #555;
        outline: none !important;
    }
