/*
.create-assignment-page-title {
    font-size: 25px;
    color: #2E294E;
    margin: 0px;
}

.create-assignment-title-block {
    width: 100%;
    justify-content: space-between;
}

.btn-publish-assignment {
    background-color: #03CEA4;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 0 30px;
    font-size: 20px;
    outline: none;
    border: none;
}

    .btn-publish-assignment:hover {
        background-color: #00C895;
    }

.btn-attach-files {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    font-size: 29px;
    padding: 0;
}

    .btn-attach-files:hover {
        background-color: #FFFFFF;
        color: #000000;
        border: none;
    }

.assignment-title-text-field {
    width: 550px;
    font-size: 29px;
    color: #2E294E;
    outline: none;
    border: none;
}

.assignment-description {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.assignment-description-detail-container {
    height: 60vh;
}

.textarea-assignment-description {
    width: 100%;
    height: 90%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    resize: none;
}

.assignment-details-panel {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.assignment-profile-image {
    display: flex;
    padding: 0px;
}

    .assignment-profile-image img,
    .assignment-profile-image object {
        margin: 0px;
        border-radius: 100%;
        border: 4px solid rgb(194, 194, 194);
        max-width: 100%;
    }
*/


.display-solution-page-title {
    font-size: 25px;
    color: #2E294E;
    margin: 0px;
}

.display-soltuion-title-block {
    width: 100%;
    justify-content: space-between;
}

.btn-publish-solution {
    background-color: #03CEA4;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 20px;
    outline: none;
    border: none;
}

.btn-publish-solution:hover {
    background-color: #00C895;
}

.display-assignment-details {
    width: 100%;
    display: block;
    font-size: 14px;
}

.details-text-format {
    color: #919493;
    font-size: 14px;
}

.assignment-profile-image {
    display: flex;
    padding: 0px;
}



    .assignment-profile-image img,
    .assignment-profile-image object {
        margin: 0px;
        border-radius: 100%;
        border: 4px solid rgb(194, 194, 194);
        max-width: 100%;
    }

.assignment-profile {
    height: inherit;
}

.assignment-description {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.assignment-description-detail-container {
    height: 60vh;
}

.solution-description {
    height: 100%;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.solution-description-detail-container {
    height: 60vh;
}

.create-solution-page-title{
    color: red;
}




