@{
    ViewData["Title"] = "Error - " + ViewBag.ErrorMessage ;
    Layout = "~/Views/Shared/_LayoutWithUserSidebar.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 screen-1300-invisible">
            </div>
            <div class="col-md-8 screen-1300-full">
                <div class="d-block boxed-row h-100 w-100">
                    <div class="w-100 text-center">
                        <h2>Ups... something went wrong</h2>
                        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
                    </div>
                    <div class="w-100 text-center">
                        <img class="feedback-view-image" src="~/assets/icons/error.svg" />
                    </div>
                    <div class="w-100 text-center">
                        <a class="btn-lrg btn-info feedback-back-to-home-btn" href="/">Go back to homepage</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 screen-1300-invisible">
            </div>
        </div>
    </div>
</main>