.navbar-fluid {
    padding: 0 10px;
    height: 60px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    height: 100%;
}

.nav-so {
    font-size: 25px;
    display: flex;
    margin: 0px;
    font-weight: bold;
}

.solvr {
    color: #2E294E;
    margin: 0px;
}

.online {
    color: #D81E5B;
    margin: 0px;
}

.nav-menu {
    font-size: 1.2em;
    font-weight: bold;
}

.nav-dashboard {
    color: #2E294E;
}

    .nav-dashboard:hover,
    .nav-dashboard:focus {
        border-top: solid 5px;
        border-color: #2E294E;
        color: #2E294E;
    }

.nav-assignments {
    color: #CA1551;
}

    .nav-assignments:focus,
    .nav-assignments:hover {
        border-top: solid 5px;
        border-color: #CA1551;
        color: #CA1551;
    }

.nav-solved {
    color: #03CEA4;
}

    .nav-solved:focus,
    .nav-solved:hover {
        border-top: solid 5px;
        border-color: #03CEA4;
        color: #03CEA4;
    }


.nav-forum {
    color: #F0544F;
}

    .nav-forum:hover,
    .nav-forum:focus {
        border-top: solid 5px;
        border-color: #F0544F;
        color: #F0544F;
    }

.nav-faq {
    color: #058787;
}

    .nav-faq:hover,
    .nav-faq:focus {
        border-top: solid 4px;
        border-color: #058787;
        color: #058787;
    }

.btn-post-assignment-icon {
    margin: 0.1em;
    margin-right: 0.3em;
}

.btn-post-assignment {
    background-color: #EAC435;
    color: #515151;
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 1em;
    outline: none;
    border: none;
    display: flex;
    margin-right: 1em;
}

@media(min-width: 1500px) {
    .btn-post-assignment {
        margin-right: 5em;
    }
}

.navbar-button-search-block {
    display: flex;
}

.nav-search {
    padding: 5px 10px;
}

.search-bar {
    font-size: 1em;
    color: #ffffff;
    background-color: #345995;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
}

.navigation-list {
    display: flex;
    height: 100%;
}

.navigation-list-item {
    margin: 0 1.4em;
    height: 100%;
}

    .navigation-list-item a {
        padding-top: 10px;
        font-size: 1.2em;
        line-height: 60px;
    }

.search-input,
.search-input:focus {
    padding-left: 20px;
    width: 75%;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.search-bar-button {
    color: #fff;
    border: none;
    background-color: transparent;
}

    .search-bar-button:hover {
        color: #f2f2f2;
    }

.search-input::placeholder {
    color: #ffffff;
}

main {
    padding: 20px;
    margin-top: 100px;
}

body {
    font-family: Poppins;
    background-color: #F3F8F6;
}

button,
button:hover,
button:active,
button:focus {
    border: none;
    outline: none;
}

.height-max {
    height: 100%;
}

.boxed-row {
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    min-height: 75px;
    background-color: #FFFFFF;
}

.boxed-column-left {
    margin-right: 20px
}

.user-sidebar {
    background-color: #2E294E;
    height: 100vh;
    min-width: 250px;
}

a:hover {
    text-decoration: none !important;
}

.user-sidebar-content {
    margin-top: 70px;
    padding: 40px 15px;
}

.user-sidebar-profile-image {
    display: flex;
}

    .user-sidebar-profile-image img,
    .user-sidebar-profile-image object {
        margin: 0 auto;
        border-radius: 100%;
        border: 4px solid rgb(194, 194, 194);
        max-width: 60%;
    }

.user-sidebar-username {
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
}

.user-sidebar-bio {
    margin-bottom: 40px;
}

.user-sidebar-meta {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 30px 30px 30px;
    grid-template-areas: "name-rank value-rank" "name-score value-score" "name-credits value-credits";
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
}

.user-sidebar-meta-name-rank {
    grid-area: name-rank;
}

.user-sidebar-meta-value-rank {
    grid-area: value-rank;
    text-align: right;
}

.user-sidebar-meta-name-score {
    grid-area: name-score
}

.user-sidebar-meta-value-score {
    grid-area: value-score;
    color: #F0544F;
    font-weight: 600;
    text-align: right;
}

.user-sidebar-meta-name-credits {
    grid-area: name-credits
}

.user-sidebar-meta-value-credits {
    grid-area: value-credits;
    color: #db2552;
    font-weight: 600;
    text-align: right;
}

.user-sidebar-add-credit {
    text-align: center;
    display: flex;
    margin-bottom: 40px;
}

.btn-add-credit {
    width: 100%;
    background-color: #C6D8D3;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 20px;
    line-height: 30px;
    color: #2E294E;
}

    .btn-add-credit:hover {
        text-decoration: none;
        color: #2E294E;
    }

.btn-add-credit-icon {
    width: 30px;
    margin-right: 8px;
}

.user-sidebar-block {
    width: 100%;
    margin-bottom: 30px;
}

.user-sidebar-block-title {
    color: #FFFFFF;
    font-size: 25px;
}

.user-sidebar-block-link {
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
}

    .user-sidebar-block-link:hover {
        color: #bebebe;
    }

.btn-log-out {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #D81E5B;
}

    .btn-log-out:hover {
        text-decoration: none;
        color: #BB154B;
    }

.btn-log-out-icon {
    width: 30px;
    margin-right: 8px;
}
