.nav-so {
    font-size: 25px;
    display: flex;
}

.solvr {
    color: #2E294E;
}

.online {
    color: #D81E5B;
}

main {
    padding: 20px;
    margin-top: 100px;
}

body {
    font-family: Poppins;
    background-color: #F3F8F6;
}

button,
button:hover,
button:active,
button:focus {
    border: none;
    outline: none;
}

.height-max {
    height: 100%;
}

.boxed-row {
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.16);
    margin-bottom: 20px;
    min-height:75px;
    background-color: #FFFFFF;
}

.boxed-column-left {
    margin-right: 20px
}